<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Create Blog</title>
</head>
<body>
<a th:href="@{?lang=lt}" class="static-btn">LT</a>
<a th:href="@{?lang=en}"class="static-btn">EN</a>
<h1 class="title-name" th:text="#{irasoKurimas}">Create Blog</h1>
    <a th:href="@{/}" th:text="#{pagrindinis}">Home</a>

<div class="container">

    <form th:action="@{/private/createblog}" method="post" th:object="${blog}" class="forms">
        <input type="hidden" th:field="*{postId}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"/>
        <input class="input-headline" type="text" th:placeholder="#{pavadinimas}" th:field="*{title}" th:errorclass="error">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"/>
        <textarea class="input-text" th:placeholder="#{tekstas}" rows="9" cols="3" th:field="*{description}" th:errorclass="error"></textarea>
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error"/>
        <input class= "input-name" type="text" th:placeholder="#{autorius}" th:field="*{author}" th:errorclass="error">
        <input class="create-btn" type="submit" th:value="#{kurti}">
    </form>

</div>

</body>
</html>