<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/style.css">
    <title>Sing In</title>
<body>
<a th:href="@{/}" class="static-btn" th:text="#{pagrindinis}">Home</a>
<a th:href="@{/public/registration}" th:text="#{registracija}" class="static-btn">Registration</a>
<a th:href="@{?lang=lt}" class="static-btn">LT</a>
<a th:href="@{?lang=en}"class="static-btn">EN</a>
<h1 class="title-name" th:text="#{prisijungimas}">Log In</h1>

<form th:action="@{/signInSubmit}" method="post">
    <p th:text="#{vartotojoVardas}">Username</p>
    <input name="username" type="text">
    <p th:text="#{slaptazodis}">Password</p>
    <input name="password" type="password">
    <button type="submit" th:text="#{pateikti}">Submit</button>
</form>

<div th:if="${param.error}" th:text="#{blogiDuomenys}" class="error">
    Blogi prisijungimo duomenys
</div>
<div th:if="${param.logout}" th:text="#{sekmingasAtsijungimas}" class="error">
    Jūs sėkmingai atsijungėte
</div>
</body>
</html>