<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../styles/style.css">
    <title>Update Blog</title>
</head>
<body>
<a th:href="@{?lang=lt}" class="static-btn">LT</a>
<a th:href="@{?lang=en}"class="static-btn">EN</a>
        <h1 class="title-name" th:href="@{/}" th:text="#{irasoReadagavimas}">Update Blog</h1>
        <a th:href="@{/}" th:text="#{pagrindinis}">Home</a>

<div class="container">

        <form th:action="@{/private/updateblog/{id}/update(id=${blog.postId})}" method="post" th:object="${blog}" class="forms">

            <input type="hidden" th:field="*{postId}"/>
            <input class="input-headline" type="text" th:field="*{title}" th:errorclass="error">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"/>
            <textarea class="input-text" rows="10" cols="3" th:field="*{description}" th:errorclass="error"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"/>
            <input class= "input-name" type="text" th:field="*{author}" th:errorclass="error">
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error"/>
            <div class="buttonsUpdate">
            <input class="update-btn" type="submit" th:value="#{readaguoti}">
            <a class="update-btn" th:href="@{/private/updateblog/{id}/delete(id=${blog.postId})}" th:text="#{istrinti}">Delete</a>
            </div>

        </form>


    </div>


</body>
</html>
<!--        -->
<!--        <input type="hidden" th:value="${blog.postId}"/>-->
<!--        <input class="input-headline" type="text" th:value="${blog.title}">-->
<!--        <textarea class="input-text" rows="12" cols="2" th:text="${blog.description}"></textarea>-->
<!--        <input class= "input-name" type="text" th:value="${blog.author}">-->
<!--        -->
<!--        <div class="buttonsUpdate">-->


<!--            <a class="update-btn" th:href="@{/blogs/updateblog/{id}/delete(id=${blog.postId})}">Delete</a>-->
<!--            <a class="update-btn" th:href="@{/blogs/updateblog/{id}/update(id=${blog.postId})}">Update</a>-->